@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://www.bilibili.com/read/cv3643919/" target="_blank">七老爷的攻略</a>
        <a href="https://github.com/Nukepayload2/LinqToOnmyoji" style="margin-left:12px" target="_blank">源码</a>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
