@page "/"

@using System.IO;
@using System.Diagnostics;
@using Nukepayload2.Linq.Onmyoji;
@using Nukepayload2.Linq.Onmyoji.Utilities;

@inject IFileReaderService fileReaderService;
<h1>试用御魂整理方案</h1>

<p>
    用痒痒熊截取快照，然后拖放到下面的框里面。你的文件不会被发送到任何服务器上。
    如果乱码了请更新 Excel，或者手动转换编码到 gb2312，或者使用 <a href="https://gitee.com/nukepayload2/LinqToOnmyojiDemoSite/releases">桌面版</a>。
</p>
<p>
    版本 1.0, 适配 @痒痒熊快照.已适配的产品和版本 。
</p>
<style>
    .@dropTargetClass {
        display:block;
        padding: 20px;
        margin-bottom: 10px;
        border: 1px dashed black;
        border-radius: 5px;
    }
    .@dropTargetDragClass {
        border-color: orangered;
        font-weight: bold;
    }
</style>

<p>
    1. 加载数据
</p>
<div class="@DropClass"
     @ref=dropTargetElement
     @ondrop=OnDrop
     @ondragenter=OnDragEnter
     @ondragleave=OnDragLeave>
    请将痒痒熊快照 json 文件拖放到这里, 或者下面的按钮点击上传
    <p>
        <input type="file" @ref=fileOpenPicker @onchange=OnFileOK />
    </p>
    @foreach (var fileInfo in FileList)
    {
        <p>@fileInfo.Name</p>
    }
</div>
<p>
    <progress value=@progress />
</p>
<p>
    2. 选择整理方案
</p>
<p>
    <input type="button" @onclick=BtnQiLaoYe_Click value="解说七老爷的整理方案" />
    <input type="button" @onclick=BtnAMao_Click value="这里阿毛酱的整理方案" />
</p>
<textarea style="max-width: 100%;" cols="50" rows="15">@Output</textarea>

<p>
    B站、GitHub、百度贴吧、微博：Nukepayload2。阴阳师：依偎相守#2723416
</p>

@code {
    [Inject] IJSRuntime JsRuntime { get; set; }
    ElementReference dropTargetElement;
    ElementReference fileOpenPicker;
    IFileReaderRef dropReference;
    IFileReaderRef fileOpenPickReference;
    bool Additive { get; set; }
    object progress = 0;

    const string dropTargetDragClass = "droptarget-drag";
    const string dropTargetClass = "droptarget";

    private List<string> _dropClasses = new List<string>() { dropTargetClass };

    string DropClass => string.Join(" ", _dropClasses);
    string Output { get; set; }
    List<IFileInfo> FileList { get; } = new List<IFileInfo>();

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            dropReference = fileReaderService.CreateReference(dropTargetElement);
            fileOpenPickReference = fileReaderService.CreateReference(fileOpenPicker);
            await dropReference.RegisterDropEventsAsync();
        }
    }

    public async Task OnAdditiveChange(ChangeEventArgs e)
    {
        Additive = (bool)e.Value;
        await dropReference.UnregisterDropEventsAsync();
        await dropReference.RegisterDropEventsAsync(Additive);
    }

    public async Task ClearFile()
    {
        await dropReference.ClearValue();
        await fileOpenPickReference.ClearValue();

        _dropClasses.Clear();
        _dropClasses.Add(dropTargetClass);

        await this.RefreshFileList();
    }

    public void OnDragEnter(EventArgs e)
    {
        _dropClasses.Add(dropTargetDragClass);
    }

    public void OnDragLeave(EventArgs e)
    {
        _dropClasses.Remove(dropTargetDragClass);
    }

    public async Task OnFileOK(EventArgs e)
    {
        await ReadFile();
    }

    public async Task OnDrop(EventArgs e)
    {
        _dropClasses.Remove(dropTargetDragClass);
        await ReadFile();
    }

    public async Task BtnQiLaoYe_Click(EventArgs e)
    {
        await ApplyMacro(m => m.七老爷三周年庆御魂整理方案(), "七老爷方案");
    }

    public async Task BtnAMao_Click(EventArgs e)
    {
        await ApplyMacro(m => m.阿毛缘结神版本御魂整理方案(), "阿毛方案");
    }

    private async Task RefreshFileList()
    {
        this.FileList.Clear();
        var droppedFiles = await dropReference.EnumerateFilesAsync();
        var pickedFiles = await fileOpenPickReference.EnumerateFilesAsync();
        foreach (var file in droppedFiles.Concat(pickedFiles))
        {
            var fileInfo = await file.ReadFileInfoAsync();
            this.FileList.Add(fileInfo);
        }
        this.StateHasChanged();
    }

    private 痒痒熊快照 _currentSnap;
    private string _currentSnapName;

    public async Task ReadFile()
    {
        Output = string.Empty;
        this.StateHasChanged();
        var nl = Environment.NewLine;
        var droppedFiles = await dropReference.EnumerateFilesAsync();
        var pickedFiles = await fileOpenPickReference.EnumerateFilesAsync();
        foreach (var file in droppedFiles.Concat(pickedFiles))
        {
            var fileInfo = await file.ReadFileInfoAsync();
            Output += $"文件名: {fileInfo.Name}{nl}";
            Output += $"大小: {((double)fileInfo.Size) / 1024 / 1024:N2} MB{nl}";
            Output += $"修改日期: {fileInfo.LastModifiedDate?.ToString() ?? "(N/A)"}{nl}";

            if (fileInfo.Type != "application/json")
            {
                Output += $"出现错误: 需要 Json 文件{nl}";
                continue; // For
            } // End If

            Output += $"正在加载文件...{nl}";
            progress = null;
            this.StateHasChanged();

            using (var fs = await file.OpenReadAsync())
            {
                try
                {
                    var timer = new Stopwatch();
                    timer.Start();
                    var buf = new byte[fs.Length];
                    await fs.ReadAsync(buf, 0, buf.Length);
                    var mem = new MemoryStream(buf);
                    Output += $"[{timer.ElapsedMilliseconds}ms] 文件已加载，开始解析痒痒熊快照文件。请不要关闭浏览器...{nl}";
                    this.StateHasChanged();
                    await Task.Delay(10);
                    var snap = 痒痒熊快照.加载Json文件流(mem);
                    if (snap.版本未适配)
                    {
                        Output += $"注意：本程序仅适配了{痒痒熊快照.已适配的产品和版本}，而这个文件的格式或者版本未经适配。{nl}";
                    }
                    Output += $"[{timer.ElapsedMilliseconds}ms] 已解析痒痒熊快照文件，请选择御魂整理方案。{nl}";
                    _currentSnap = snap;
                    _currentSnapName = fileInfo.Name;
                    timer.Stop();
                }
                catch (Exception ex)
                {
                    Output += $"出现错误{nl}";
                    Output += ex.ToString();
                } // End Try
                progress = 0;
            } // End Using
            this.StateHasChanged();
        } // Next file
    } // End Function ' ReadFile

    private async Task ApplyMacro(Action<御魂整理宏示例> macroSelector, string name)
    {
        Output = string.Empty;
        var nl = Environment.NewLine;
        try
        {
            var snap = _currentSnap;
            if (snap == null)
            {
                Output += $"请先加载数据。{nl}";
                return;
            }
            this.StateHasChanged();
            await Task.Delay(10);
            var 御魂备份 = (from e in snap.数据.御魂 select e.浅克隆()).ToArray();
            IEnumerable<御魂> 六星御魂()
            {
                return 御魂备份.Where(s => s.星级 == 6 && !s.已弃置);
            }
            var timer = new Stopwatch();
            timer.Start();
            var 整理前未弃置御魂 = 六星御魂().ToDictionary(s => s.Id, s => s);
            var 整理前六星御魂数量 = 整理前未弃置御魂.Count;
            Output += $"[{timer.ElapsedMilliseconds}ms] 整理前六星御魂: {整理前六星御魂数量} 个{nl}";
            this.StateHasChanged();
            await Task.Delay(10);
            var 方案 = new 御魂整理宏示例(御魂备份);
            macroSelector(方案);
            var 整理后未弃置御魂 = 六星御魂().ToDictionary(s => s.Id, s => s);
            var 整理后六星御魂数量 = 整理后未弃置御魂.Count;
            Output += $"[{timer.ElapsedMilliseconds}ms] 整理后六星御魂: {整理后六星御魂数量} 个{nl}";
            if (整理后六星御魂数量 > 整理前六星御魂数量)
            {
                Output += $"[{timer.ElapsedMilliseconds}ms] 整理后御魂反而多说明此账号弃置过胚子。{nl}";
            }
            Output += $"[{timer.ElapsedMilliseconds}ms] 正在生成报告...{nl}";
            this.StateHasChanged();
            await Task.Delay(10);

            var csvText = await 御魂方案示例核心.Csv导出器.保存数据Async(整理前未弃置御魂, 整理后未弃置御魂);
            Output += $"[{timer.ElapsedMilliseconds}ms] 报告已生成, 正在保存。{nl}";
            this.StateHasChanged();
            await Task.Delay(10);
            var fileName = $"{System.IO.Path.GetFileNameWithoutExtension(_currentSnapName ?? "未命名")}{name}.csv";
            await JsRuntime.InvokeVoidAsync("saveAsBlob", csvText, fileName, "utf-8");
            Output += $"[{timer.ElapsedMilliseconds}ms] 报告已保存。{nl}注意: 不是所有浏览器都支持保存此报告。如果 30 秒内你的浏览器没有提示保存一个 csv 文件，建议改别的浏览器或者使用此工具的桌面版。{nl}";
        }
        catch (Exception ex)
        {
            Output += $"出现错误{nl}";
            Output += ex.ToString();
        } // End Try
    }

    // End Code
}
