@page "/ReferenceSource"
@using 测试网站.Pages.ReferenceSourceParts

<h2>御魂整理脚本</h2>

<p>
    <input type="button" style=@_buttonStyles[0] value="七老爷的方案" @onclick=BtnLao7_Click />
    <input type="button" style=@_buttonStyles[1] value="阿毛的方案" @onclick=BtnAMao_Click />
    <input type="button" style=@_buttonStyles[2] value="整理方案公用代码" @onclick=BtnCommon_Click />
</p>

<div style=@_codeStyles[0]>
    <Laoye777 />
</div>

<div style=@_codeStyles[1]>
    <ZheliAMaoJ />
</div>

<div style=@_codeStyles[2]>
    <CommonCode />
</div>

@code{
    const string HiddenStyle = "display:none";
    const string VisibleStyle = "display:inline";
    const string BoldStyle = "font-weight:bold";
    const string NormalStyle = "font-weight:normal";

    string[] _buttonStyles = { BoldStyle, NormalStyle, NormalStyle };
    string[] _codeStyles = { VisibleStyle, HiddenStyle, HiddenStyle };
    int _selectedIndex = 0;

    public int SelectedIndex
    {
        get
        {
            return _selectedIndex;
        }
        set
        {
            if (_selectedIndex == value)
            {
                return;
            }
            _selectedIndex = value;
            OnSelectedIndexChanged(value);
        }
    }

    void OnSelectedIndexChanged(int value)
    {
        for (int i = 0; i < _buttonStyles.Length; i++)
        {
            if (i == value)
            {
                _buttonStyles[i] = BoldStyle;
                _codeStyles[i] = VisibleStyle;
            }
            else
            {
                _buttonStyles[i] = NormalStyle;
                _codeStyles[i] = HiddenStyle;
            }
        }
        StateHasChanged();
    }

    void BtnLao7_Click()
    {
        SelectedIndex = 0;
        StateHasChanged();
    }

    void BtnAMao_Click()
    {
        SelectedIndex = 1;
        StateHasChanged();
    }

    void BtnCommon_Click()
    {
        SelectedIndex = 2;
        StateHasChanged();
    }
}