<pre style="font-family:Consolas;font-size:13px;color:black;background:white;"><span style="color:blue;">Partial</span>&nbsp;<span style="color:blue;">Public</span>&nbsp;<span style="color:blue;">NotInheritable</span>&nbsp;<span style="color:blue;">Class</span>&nbsp;<span style="color:#2b91af;">御魂整理宏示例</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:blue;">Inherits</span>&nbsp;<span style="color:#2b91af;">御魂整理状态</span>
 
&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:blue;">Sub</span>&nbsp;<span style="color:blue;">New</span>(<span style="color:#1f377f;">全部御魂</span>&nbsp;<span style="color:blue;">As</span>&nbsp;<span style="color:#2b91af;">御魂</span>())
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:blue;">MyBase</span>.<span style="color:blue;">New</span>(<span style="color:#1f377f;">全部御魂</span>)
&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:blue;">End</span>&nbsp;<span style="color:blue;">Sub</span>
<span style="color:blue;">End</span>&nbsp;<span style="color:blue;">Class</span></pre>